@charset "utf-8";

/* Styles for the two-column layout */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.home_img {
    grid-column: 1;
}

.home_intro {
    grid-column: 2;
}

.home_img img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.home_intro h2 {
    color: #333;
}

.home_intro p {
    color: #666;
}

header {
    text-align: center;
}

.logo {
    display: inline-block;
    border-radius: 10px;
}


nav {
    background-color: #333;
    padding: 10px 0;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: beige;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.highlight {
    background-color: rgb(16, 8, 21);
    padding: 0px;
    color: white;
    border-radius: 10px;

}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Style for cards */
.card {
    margin: 20px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}

.card-body {
    padding: 20px;
}

/* Style for accordion */
.accordion-item {
    margin-bottom: 20px;
}

.accordion-button {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.accordion-body {
    background-color: #f9f9f9;
    padding: 20px;
}


/* Style for form */
form {
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"],
form input[type="reset"] {
    width: 48%;
    padding: 10px; 
    margin-right: 2%; 
    background-color: #333; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
    background-color: #555;
}
